<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VerseFromBible.com</title>
</head>
<body>
<div th:fragment="bottom_page_scripts" class="invisible">

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/scrolling-nav.js}"></script>
    <script th:src="@{/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <script th:inline="javascript">
        let debug = true;
        /*<![CDATA[*/

        let sectionId = /*[[${sectionId}]]*/ 'default';
        if(debug) console.log('sectionId', sectionId);
        if(sectionId.length) {
            scrollToSection("#" + sectionId);
        }

        function scrollToSection(sectionId){
            if(debug) console.log("called: scrollToSection()");
            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            //(function($) {
                let field = $(sectionId);
                let offset = field.offset().top;
                let pos = field.position();
                if(debug) console.log("top: " + pos.top + " left: " + pos.left)
                if(debug) console.log('offset', offset);

                window.scroll({
                    top: offset,
                    left: 0,
                    behavior: 'smooth'
                });

                // document.querySelector('#sign_up').scrollIntoView({
                //     behavior: 'smooth'
                // });

            //})(jQuery);
        }

        (function($) {
            // $('#send_time>option:eq(3)').prop('selected', true);
            if($('#send_time').length){
                $("#send_time").val('8.0');
            }
            if($('#timezone').length){
                $("#timezone").val('pacific');
            }
        })(jQuery);

        $(document).ready(function() {
            if (window.location.href.indexOf("admin") > -1) {
                $('#add_verse_date').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
                $('#contacts_table').DataTable();
                $('#verses_table').DataTable();
                $('#log_table').DataTable( {
                    "order" : [ [ 0, "desc" ], ],
                } );
            }
        });

        $(".auto_fade").fadeTo(4000, 500).slideUp(500, function(){
            $(".auto_fade").alert('close');
        });

        /*]]>*/
    </script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</div>
</body>
</html>
