<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VerseFromBible.com</title>
</head>
<body>
<div th:fragment="bottom_page_scripts" class="invisible">

    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script th:src="@{/js/scrolling-nav.js}"></script>
    <script th:src="@{/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=CaptchaCallback&render=explicit" async defer></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let sectionId = /*[[${sectionId}]]*/ 'default';
        // console.log(sectionId)
        if(sectionId) scrollToSection("#" + sectionId);

        function scrollToSection(sectionId){
            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            (function($) {
                let signUpField = $(sectionId);
                let offset = signUpField.offset().top;
                // console.log(offset)

                window.scroll({
                    top: offset,
                    left: 0,
                    behavior: 'smooth'
                });

                // document.querySelector('#sign_up').scrollIntoView({
                //     behavior: 'smooth'
                // });

            })(jQuery);
        }

        (function($) {
            // $('#send_time>option:eq(3)').prop('selected', true);
            if($('#send_time').length){
                $("#send_time").val('8.0');
            }
            if($('#timezone').length){
                $("#timezone").val('pacific');
            }
        })(jQuery);

        $(document).ready(function() {
            if (window.location.href.indexOf("admin") > -1) {
                $('#add_verse_date').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
                $('#contacts_table').DataTable();
                $('#verses_table').DataTable();
                $('#log_table').DataTable({
                    "order": [[ 0, "desc" ]]
                });
            }
        });

        $(".auto_fade").fadeTo(4000, 500).slideUp(500, function(){
            $(".auto_fade").alert('close');
        });

        // ========================================== reCaptcha ==========================================

        let reCaptchaExpiredMsg = "reCaptcha has expired. Please solve a new reCaptcha";
        let signUpFormId = "signupform";
        let contactMeFormId = "contact_me_form";
        let unsubscribeFormId = "unsubscribeform";
        let reCaptchaSiteKey = /*[[${reCaptchaSiteKey}]]*/ 'default'; // comes from the controller

        function CaptchaCallback() {
            grecaptcha.render('RecaptchaField1', {
                'sitekey': reCaptchaSiteKey,
                'callback': 'signUpFormOnReCaptchaSuccess',
                'expired-callback': 'signUpFormOnReCaptchaExpired'
            });
            grecaptcha.render('RecaptchaField2', {
                'sitekey': reCaptchaSiteKey,
                'callback': 'unsubscribeFormOnReCaptchaSuccess',
                'expired-callback': 'unsubscribeFormOnReCaptchaExpired'
            });
            grecaptcha.render('RecaptchaField3', {
                'sitekey': reCaptchaSiteKey,
                'callback': 'contactMeFormOnReCaptchaSuccess',
                'expired-callback': 'contactMeFormOnReCaptchaExpired'
            });
        };

        function signUpFormOnReCaptchaSuccess(response) {
            $("#" + signUpFormId + "CaptchaError").html("").hide();
            $("#" + signUpFormId + "HiddenRecaptcha").val(response);
        };

        function signUpFormOnReCaptchaExpired(response) {
            $("#" + signUpFormId + "CaptchaError").html(reCaptchaExpiredMsg).show();
            grecaptcha.reset();
        };

        function unsubscribeFormOnReCaptchaSuccess(response) {
            $("#" + unsubscribeFormId + "CaptchaError").html("").hide();
            $("#" + unsubscribeFormId + "HiddenRecaptcha").val(response);
        };

        function unsubscribeFormOnReCaptchaExpired() {
            $("#unsubscribeformCaptchaError").html(reCaptchaExpiredMsg).show();
            grecaptcha.reset();
        };

        function contactMeFormOnReCaptchaSuccess(response) {
            $("#" + contactMeFormId + "CaptchaError").html("").hide();
            $("#" + contactMeFormId + "HiddenRecaptcha").val(response);
        };

        function contactMeFormOnReCaptchaExpired() {
            $("#" + contactMeFormId + "CaptchaError").html(reCaptchaExpiredMsg).show();
            grecaptcha.reset();
        };

        if($("#" + signUpFormId).length) {
            addEventToForm(signUpFormId);
        }
        if($("#" + unsubscribeFormId).length) {
            addEventToForm(unsubscribeFormId);
        }
        if($("#" + contactMeFormId).length) {
            addEventToForm(contactMeFormId);
        }

        function addEventToForm(formId){
            document.getElementById(formId).addEventListener("submit", function (evt) {

                // let response = grecaptcha.getResponse();
                // if (response.length == 0) {
                //     $("#" + formId + "CaptchaError").show().html("Please verify that you are not a robot.");
                //     evt.preventDefault();
                //     return false;
                // }
                // // captcha verified
                // $("#" + formId + "CaptchaError").html("").hide();
                // return true;

                if( !$("#" + formId + "HiddenRecaptcha").val() ) {
                    $("#" + formId + "CaptchaError").show().html("Please verify that you are not a robot.");
                    evt.preventDefault();
                    return false;
                }

                $("#" + formId + "CaptchaError").html("").hide();
                return true;

            });
        }

        /*]]>*/
    </script>

    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</div>
</body>
</html>
