<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VerseFromBible.com</title>
</head>
<body>
<div th:fragment="bottom_page_scripts" class="invisible">

    <!-- <script type="text/javascript" th:src="@{webjars/bootstrap/4.4.1-1/js/bootstrap.min.js}"></script> -->
    <!-- <script src="https://kit.fontawesome.com/03d8faafbe.js" crossorigin="anonymous"></script> -->

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Plugin JavaScript -->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>

    <!-- Custom JavaScript for this theme -->
    <script th:src="@{/js/scrolling-nav.js}"></script>

    <script th:src="@{/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/

        let sectionId = /*[[${sectionId}]]*/ 'default';
        // console.log(sectionId)
        if(sectionId) scrollToSection("#" + sectionId);

        function scrollToSection(sectionId){
            // https://css-tricks.com/snippets/jquery/smooth-scrolling/
            (function($) {
                let signUpField = $(sectionId);
                let offset = signUpField.offset().top;
                // console.log(offset)

                window.scroll({
                    top: offset,
                    left: 0,
                    behavior: 'smooth'
                });

                // document.querySelector('#sign_up').scrollIntoView({
                //     behavior: 'smooth'
                // });

            })(jQuery);
        }

        function clearHistoryToPreventFormResubmission(){
            $(document).ready(function(){
                window.history.replaceState('', '', window.location.href)
            });
        }

        (function($) {
            // $('#send_time>option:eq(3)').prop('selected', true);
            $("#send_time").val('8.0');
        })(jQuery);

        $(document).ready(function() {
            if (window.location.href.indexOf("admin") > -1) {
                $('#add_verse_date').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
                $('#contacts_table').DataTable();
                $('#verses_table').DataTable();
            }
        });

        $(".auto_fade").fadeTo(4000, 500).slideUp(500, function(){
            $(".auto_fade").alert('close');
        });

        /*]]>*/
    </script>

    <!-- DataTable -->
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>

</div>
</body>
</html>
