<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>VerseFromBible.com</title>
    <script th:fragment="gscript" async src="https://www.googletagmanager.com/gtag/js?id=UA-162250696-1"></script>
    <script th:fragment="gscriptInl" th:inline="javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-162250696-1');
    </script>
</head>
<body>
</body>
</html>
