<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head th:fragment="head">

<!--    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.4.1-1/css/bootstrap.min.css}"/>-->
<!--    <link rel="stylesheet" th:href="@{/css/main.css}"/>-->
<!--    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>-->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>VerseFromBible.com</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/scrolling-nav.css}" rel="stylesheet">

    <link rel="Shortcut Icon" type="image/png" th:href="@{/img/favicon-16x16.png}"/>

</head>
</html>
